html {
    font-family: Arial, sans-serif;
}

.time {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 60px;
}

.button {
    font-size: 20px;
}

.hd {
    display: flex;
    justify-content: center;
    font-size: 50px;
}